header,footer{
    font-weight: bold;
    background-color: white;
    box-shadow: 0 0 10px;
    padding: 8px;
    height: 6vh;
}
header > h1{
    font-size: 30px;
}

body{
    height: 100vh;
}
.loginform{
    width:40%;
    box-shadow: 0px 0px 10px;
    height: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.myfrom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    height: 40px;
    font-size: 22px;
}
.loginformholder{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1024px){
    header>h1{
        font-size: 18px;
    }
    .loginform{
        width: 100%;
        box-shadow: 0px 0px 6px;
    }
    input{
        font-size: 18px;
    }
    footer h5{
        font-size: 14px;
    }
}