<header>
    <h4 style="" class="brand">Chanana</h4>
    <span style="font-size:30px;cursor:pointer;float: right;color: white;padding-right:20px; " onclick="openNav()"><i class="fas fa-bars"></i></span>
</header>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/emppanel"><i class="fas fa-home"></i> Home</a>
    <a href="/report"><i class="fas fa-book-open"></i> Complaints</a>
    <a href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
</div>
