<header>
    <h4 style="" class="brand">Chanana</h4>
    <span style="font-size:30px;cursor:pointer;float: right;color: white;padding-right:20px; " onclick="openNav()"><i class="fas fa-bars"></i></span>
</header>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/adminpanel"><i class="fas fa-home"></i> Home</a>
    <a href="/adduser" id="adduser"><i class="fas fa-user-plus"></i> Add Emp</a>
    <a href="/userlist"><i class="fas fa-user-alt"></i> Employees</a>
    <a href="/complaints"><i class="fas fa-book-open"></i> Complaints</a>
    <a href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
</div>
